DATABASE_URL="postgresql://neondb_owner:npg_R6iTg5FcWMCs@ep-gentle-pine-ad82kkd1-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_SITE_URL="https://nurserynearby.in"
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_PASSWORD="Me@website007"
ADMIN_SECRET="your-random-secret-string"
